# Byte-compiled / optimized files
**pycache**/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# IDE / Editor files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Logs (if added later)
*.log